In [3]:
## Ejercicio 1: Generar un par de arrays ficticios con `numpy`

In [1]:
import numpy as np

In [2]:
a= np.linspace(1, 50, dtype= int)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [3]:
clear

In [4]:
b = np.linspace(50, 150,10)

In [5]:
len(a)

50

In [6]:
## Ejercicio 2: Ejecute un loop que devuelva si el número en el primer array es par o impar
for i in range(len(a)):
    valor = a[i]
    if (valor % 2) == 0:
        print("{} es par".format(valor))
    else:
        print("{} es impar".format(valor))

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar
20 es par
21 es impar
22 es par
23 es impar
24 es par
25 es impar
26 es par
27 es impar
28 es par
29 es impar
30 es par
31 es impar
32 es par
33 es impar
34 es par
35 es impar
36 es par
37 es impar
38 es par
39 es impar
40 es par
41 es impar
42 es par
43 es impar
44 es par
45 es impar
46 es par
47 es impar
48 es par
49 es impar
50 es par

In [7]:
b = np.linspace(50, 150, dtype = int)
b

array([ 50,  52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,
        76,  78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 101,
       103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127,
       129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 150])

In [8]:
dos_o_tres = 0
dos_y_tres = 0
si_tres = 0
ni_tres_ni_dos = 0
for i in range(len(b)):
    valor = b[i]
    if (valor%2== 0) or (valor%3 == 0):
        dos_o_tres = dos_o_tres +1
    elif(valor%2== 0) and (valor%3 == 0):
        dos_y_tres = dos_y_tres +1
    elif(valor%3 == 0) and (valor%2 != 0):
        si_tres = si_tres + 1
    elif (valor%3 != 0) and (valor%2 != 0):
        ni_tres_ni_dos = ni_tres_ni_dos +1
print("divisible por 2 o 3: {}".format(dos_o_tres))
print("divisible por 2 y 3: {}".format(dos_y_tres))
print("divisible por 3 pero no por 2: {}".format(si_tres))
print("divisible por 2 ni 3: {}".format(ni_tres_ni_dos))

divisible por 2 o 3: 34
divisible por 2 y 3: 0
divisible por 3 pero no por 2: 0
divisible por 2 ni 3: 16

In [9]:
## Ejercicio 4
import pandas as pd
df = pd.read_csv('flights.csv')

In [10]:
media = np.mean(df['passengers'])
media

280.2986111111111

In [11]:
clear

In [12]:
df['under']=0

In [13]:
index= 0
for i in df['passengers']:
    if i < media:
        #print("Esta cantidad {} es menor a la media {}".format(i, media))
        df.set_value(index, "under",1)
    index += 1
        
print(df)

     year      month  passengers  under
0    1949    January         112      1
1    1949   February         118      1
2    1949      March         132      1
3    1949      April         129      1
4    1949        May         121      1
5    1949       June         135      1
6    1949       July         148      1
7    1949     August         148      1
8    1949  September         136      1
9    1949    October         119      1
10   1949   November         104      1
11   1949   December         118      1
12   1950    January         115      1
13   1950   February         126      1
14   1950      March         141      1
15   1950      April         135      1
16   1950        May         125      1
17   1950       June         149      1
18   1950       July         170      1
19   1950     August         170      1
20   1950  September         158      1
21   1950    October         133      1
22   1950   November         114      1
23   1950   December         140      1
24   1951    January         145      1
25   1951   February         150      1
26   1951      March         178      1
27   1951      April         163      1
28   1951        May         172      1
29   1951       June         178      1
..    ...        ...         ...    ...
114  1958       July         491      0
115  1958     August         505      0
116  1958  September         404      0
117  1958    October         359      0
118  1958   November         310      0
119  1958   December         337      0
120  1959    January         360      0
121  1959   February         342      0
122  1959      March         406      0
123  1959      April         396      0
124  1959        May         420      0
125  1959       June         472      0
126  1959       July         548      0
127  1959     August         559      0
128  1959  September         463      0
129  1959    October         407      0
130  1959   November         362      0
131  1959   December         405      0
132  1960    January         417      0
133  1960   February         391      0
134  1960      March         419      0
135  1960      April         461      0
136  1960        May         472      0
137  1960       June         535      0
138  1960       July         622      0
139  1960     August         606      0
140  1960  September         508      0
141  1960    October         461      0
142  1960   November         390      0
143  1960   December         432      0

[144 rows x 4 columns]

C:\Users\abeltran\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [14]:
df.under.value_counts()

1    80
0    64
Name: under, dtype: int64

In [19]:
## Ejercicio 5
desv= np.std(df['passengers'])
desv

119.54904153277148

In [21]:
df['outlier']=0

In [26]:
index= 0
for i in df['passengers']:
     ## Passengers menor a (la media menos la desviación) o Passengers mayor a la media más la desviación estándar
    if (i < (media - desv)) or (i> (media+desv)):
          print("Passengers {} es outlier | (media-desv = {}) | (media + desv= {})".format(i, media - desv, media+desv))
          df.set_value(index, "outlier",1)
    index += 1
        
print(df)

Passengers 112 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 118 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 132 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 129 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 121 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 135 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 148 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 148 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 136 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 119 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 104 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 118 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 115 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 126 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 141 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 135 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 125 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 149 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 158 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 133 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 114 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 140 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 145 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 150 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 146 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 413 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 405 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 422 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 465 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 467 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 404 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 435 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 491 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 505 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 404 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 406 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 420 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 472 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 548 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 559 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 463 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 407 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 405 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 417 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 419 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 461 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 472 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 535 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 622 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 606 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 508 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 461 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
Passengers 432 es outlier | (media-desv = 160.74956957833962) | (media + desv= 399.84765264388255)
     year      month  passengers  under  outlier
0    1949    January         112      1        1
1    1949   February         118      1        1
2    1949      March         132      1        1
3    1949      April         129      1        1
4    1949        May         121      1        1
5    1949       June         135      1        1
6    1949       July         148      1        1
7    1949     August         148      1        1
8    1949  September         136      1        1
9    1949    October         119      1        1
10   1949   November         104      1        1
11   1949   December         118      1        1
12   1950    January         115      1        1
13   1950   February         126      1        1
14   1950      March         141      1        1
15   1950      April         135      1        1
16   1950        May         125      1        1
17   1950       June         149      1        1
18   1950       July         170      1        0
19   1950     August         170      1        0
20   1950  September         158      1        1
21   1950    October         133      1        1
22   1950   November         114      1        1
23   1950   December         140      1        1
24   1951    January         145      1        1
25   1951   February         150      1        1
26   1951      March         178      1        0
27   1951      April         163      1        0
28   1951        May         172      1        0
29   1951       June         178      1        0
..    ...        ...         ...    ...      ...
114  1958       July         491      0        1
115  1958     August         505      0        1
116  1958  September         404      0        1
117  1958    October         359      0        0
118  1958   November         310      0        0
119  1958   December         337      0        0
120  1959    January         360      0        0
121  1959   February         342      0        0
122  1959      March         406      0        1
123  1959      April         396      0        0
124  1959        May         420      0        1
125  1959       June         472      0        1
126  1959       July         548      0        1
127  1959     August         559      0        1
128  1959  September         463      0        1
129  1959    October         407      0        1
130  1959   November         362      0        0
131  1959   December         405      0        1
132  1960    January         417      0        1
133  1960   February         391      0        0
134  1960      March         419      0        1
135  1960      April         461      0        1
136  1960        May         472      0        1
137  1960       June         535      0        1
138  1960       July         622      0        1
139  1960     August         606      0        1
140  1960  September         508      0        1
141  1960    October         461      0        1
142  1960   November         390      0        0
143  1960   December         432      0        1

[144 rows x 5 columns]

C:\Users\abeltran\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead